body {
	background-color: #19181c;
	color: #e8e7f0;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
}



header li {
	display: inline;
	list-style-type: none;
}

header img {
	width: 5em;
	height: 5em;
}

nav {
	position: sticky;
	top: 0px;
	left: 0px;
}

nav>ul {
	display: flex;
	flex-direction: row;
	background-color: #201f24;
	margin-top: 0px;
}

nav>ul>li {
	flex: 1;
	border-radius: 10px;
	color: #e8e7f0;
	border: 1px solid #e8e7f0;
	text-align: center;
	padding: 1em 2em;
	margin: 1em;
	list-style-type: none;
}

.activeTab {
	border: 2px solid #b4a9ff;
}

.activeTab>a {
	color: #b4a9ff;
	font-weight: bold;
}

nav a {
	border-radius: 10px;
	text-decoration: none;
	color: #e8e7f0;
}

main {
	display: flex;
	flex-direction: row;
}

main>article {
	flex: 4;
	background-color: #201f24;
	border-radius: 10px;
	padding: 2em;
	margin: 1em;
}

main>aside {
	flex: 1;
}

aside>section {
	background-color: #201f24;
	border-radius: 10px;
	padding: 2em;
	margin: 1em;
}

#contactForm {
	display: flex;
	flex-direction: column;
	width: 50%;
    margin: 0 auto;
}

#contactForm p {
	display: flex;
	flex-direction: row;
}


#contactForm label {
	flex: 1;
	text-align: right;
    padding-right:2em;
}

#contactForm input,
#contactForm textarea {
	flex: 2;
	padding: 1em;
	width: 100%;
}

#contactForm button {
	flex: 3;
}

#homeDiv{
	display: flex;
	flex-flow: row wrap;
}

#homeDiv > section{
	background-color: #cecece;
	padding : 1em;
	flex:1;
	opacity: .5;
	margin: 1em;
	border-radius: 10px;
	color: #000;
}

main>#galleryArticle {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

main>#galleryArticle>img {
	width: 20em;
	height: 10em;
	padding: 1em;
	border-radius: 10px;
	background-color: #cecece;
	margin: .5em;
}

footer {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
	background-color: #201f24;
}


footer>section {
	flex: 1;
}



.purpleButton {
	margin: 2em 0;
	background-color: #6c5dd3;
	padding: 1em 5em;
	color: white;
	border-radius: 10px;
	text-decoration: none;
	font-size: 20px;
	border: 0px;
}