body {
	background-color: #19181c;
	color: #e8e7f0;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	margin:0;
	min-height: 100vh;
	overflow-y: scroll;
}

header > ul {
	display: flex;
	flex-direction: row;
}


header li {
	list-style-type: none;
}

header img {
	width: 5em;
	height: 5em;
	border-radius: 10px;
	margin-right: 1em;
}

nav {
	position: sticky;
	top: 0px;
	left: 0px;
}

nav>ul {
	display: flex;
	flex-direction: row;
	background-color: #201f24;
	margin-top: 0px;
}

nav>ul>li {
	flex: 1;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	list-style-type: none;
}

nav>ul>li a {
	display: block;
	width:100%;
	padding-top: 1em;
    padding-bottom: 1em;
}


nav>ul>li:hover,
.activeTab {
	background-color: #6c5dd3;
	border: 0px solid #e8e7f0;
	box-shadow: 0px 2px 5px #e8e7f0;
}


.activeTab>a {
	color: #fff;
}

nav a {
	border-radius: 10px;
	text-decoration: none;
	color: #e8e7f0;
}

main {
	display: flex;
	flex-direction: row;
}

main>article {
	flex: 2;
	background-color: #201f24;
	border-radius: 10px;
	padding: 2em;
	margin: 1em;
}

main>aside {
	background-color: #201f24;
	border-radius: 10px;
	padding: 2em;
	margin: 1em;
	flex: 1;
}

section {
	background-color: #262529;
	border-radius: 10px;
	padding: 2em;
	margin: 1em;
}

#contactForm {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
}

#contactForm p {
	display: flex;
	flex-direction: row;
}


#contactForm label {
	flex: 1;
	text-align: right;
	padding-right: 2em;
}

#contactForm input,
#contactForm textarea {
	flex: 2;
	padding: 1em;
	width: 100%;
	border-radius: 10px;
}

#contactForm button {
	flex: 3;
}

#galleryDiv {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

#galleryDiv>img {
	border-radius: 10px;
	background-color: #cecece;
	width: 400px;
	height: 400px;
	object-fit: cover;
	margin: 1em;
}

table {
	width: 100%
}

table,
th,
td {
	border-collapse: collapse;
}

tr {
	display: flex;
	flex-direction: row;
	padding: .5em 0;
}

table>thead>tr {
	background-color: #252629;
}

thead>tr th:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

thead>tr th:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

th,
td {
	flex:1;
	text-align: center;
	color: #8d8d8f;
	font-size: 20px;

}

table>tbody tr>td:first-child {
	color: #ffff;
}

h1 {
	font-size: 40px;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 25px;
}

p {
	margin: 1em 0;
	font-size: 20px;
}


ol > li {
	font-size: 20px;
}


footer {
	margin-top: auto;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
	background-color: #201f24;
}


footer>a {
	text-decoration: none;
	color: white;
}

footer h2 {
	text-decoration: none;
	color: white;
	font-size: 15px;
}

.purpleButton {
	margin: 2em 0;
	background-color: #6c5dd3;
	padding: 1em 5em;
	color: white;
	border-radius: 10px;
	text-decoration: none;
	font-size: 20px;
	border: 0px;
}